body{
    background-color: rgb(3, 7, 46);
    color: whitesmoke;
}
#head1{
    font-family: fantasy;
    background-color: rgb(6, 38, 38);
    color: whitesmoke;
}
img{
    width: 100%;
    height: 30%;
}